#aboutPara{
    width: 600px;
   margin-top: 40px;
    
}
.mainText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main{
    height: 80vh;
}

@media only screen and (max-width: 700px){
    #aboutPara{
        width: 300px;
    }
}